{{ if .Education }}
<div id="education" class="section">
  <div class="section__heading">
    <h2 class="section__title">{{ i18n "education" }}</h2>
  </div>
  <div class="section__content">
    {{ range .Education }}
    <div class="education__item"> 
      <div class="education__header">
        <i class="fas fa-graduation-cap education__icon"></i>
        <h4 class="education__title">{{ .Course | safeHTML }}</h4>
      </div>
      <div class="education__details">
        <h5 class="education__place">{{ .Place | safeHTML }}</h5>
        <h5 class="education__date">{{ .Date | safeHTML }}</h5>
        <h5 class="education__description">{{ .Details | safeHTML }}</h5>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
